
:root{
  --Primary-Color: #66C3FF;
  --Secondary-Color: #53D8FB;
  --Primary-bg: #DCE1E9 ;
  --Secondary-bg: #D4AFB9;
  --shadow: #363732;
}

.Appp{
  position: relative;
  display: inline-block;
  background-color: var(--Primary-bg);
  border: 0px;
  overflow-x: hidden;

}
.Nav{
  position: sticky;
  top: 0px;
  background-color:  var(--shadow);
  width: 99vw;
  height: 5vw;
  z-index: 100;
}
.Logo{
  width: 7vw;
  height:7vw;
  transition: 0.3s;
}
.Logo:hover{
  width: 8vw;
  height:8vw;
}
.Navbar{
  display: flex;
  font-family: 'Courier New', monospace;
  overflow: auto;
}
.Links{
  width: 99vw;
  height: 10vh;
  padding-top: auto;
}
.Links a{
  float: right;
  color: #DCD3D3;
  margin-right: 25px;  
  margin-top: 6vh;
  font-weight: 400;
  text-decoration: none;
}
.Links a:hover{
  font-weight: 900;

}
.Profile{
  background-image: url("images/back2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 99vw;
  height: 40vw;
  display: flex;
}
.Profile-Name{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 5vw;
}
.Profile-Objective{
  font-family: 'Share Tech Mono';

  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;

  font-size: 2vw;
  line-height: 4vw;
}
.Profile-Skills{
  margin-top: 10vw;
  display: flex;
  margin-bottom: 10vw;
}
.Skills-Right{

}
.Skills {
  padding-left: 20vw;
  font-family: 'Share Tech Mono';
  margin-bottom: 2vw;
}
.Skills-Img{
  margin-top:3vw;
  margin-left: 5vw;
  height: 30vw;
  width: 30vw;
}
.Skills-Left{
  margin-top: 8vw;

  display: flex;
  flex-direction: column;

}
.Skills-Title{
  margin-left: 10vw;
  margin-bottom: 3vw;
  font-size: 3vw;
  color: #5FADDF;

}
.Skills-Desc{
  font-family: 'Share Tech Mono';
  margin-right: 10vw;
  margin-left: 15vw;
  width: 35vw;
  line-height: 3vw;
}
.Profile-Left{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 500px;
  width: 60vw;
  padding-left: 3vw;
  color: var(--Primary-Color);
  
}
.Profile-Right{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.Profile-Bottom{
  height: 100%;
  padding-top: 10vw;
  background-color: var(--Primary-bg);
}
.Profile-Pic{
  height: 12vw;
  width: 13vw;
}

.Profile-Desc{
  color: var(--Secondary-Color);
  margin-top: 10px;
  padding-left: 15px;
  height: 20px;
  font-family: 'Share Tech Mono';
}
.Projects{
  position: relative;
  height: 225vw;
}
.Project-List{
  height: 220vw;
  background-color:var(--Primary-bg);
}
.Project{
  display: flex;
  height: 40vw;
}
.Timeline{
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: 'Share Tech Mono';
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.Project-Wrapper{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.Project-Info{
  display: flex;
}
.Project-Links{
  margin-top: 3vw;
  
  display: flex;
}
.Project-Links img{
  height: 3vw;
  width: 3vw;
  margin-left: 2vw;
}
.Project-Img{
  height: 20vw;
  width: 30vw;
}
.Project-Title{
  font-size: 4vw;
  font-family: 'Share Tech Mono';  
}
.Project-Detail{
  margin-left:3vw;
  display: flex;

  flex-direction: column;
}
.Project-Desc{
  margin-top: 1vw;
  margin-left: 1vw;
  font-size: 2vw;
  margin-right: 5vw;
  color:#5FADDF;
}
.Contacts-Info{
  height: 10vw;
  background-color: var(--Secondary-bg);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.Contacts-Wrapper{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.Contacts-Img{
  width:5vw;
  height:5vw;
  margin: 1vw;
}
.Contacts-Title{
  margin: 1vw;
  font-size: 3vw;
  font-family: 'Share Tech Mono';  
}
.Contacts{
  position: absolute;
  bottom: 0px;
  background-color: var(--Secondary-bg);
  display: flex;
  flex-direction: column;
  width: 100%;
  height:15vw;
  

}
.Contact{
 

  background-color: var(--Primary-bg);
  height: 100vh;
}
.Contact-Info{
  height: 70vh;
}